.dropdown-toggle::after {
    content: none;
}

.btn .badge {
    position: relative;
    top: -10px;
    left: -10px;
}

.toast-container {
    right: 25px;
}

.btn .white{
    background-color: white;
}

.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x;
}