.sell-out-input-upload {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 35px;
}

.file-upload-container {
  margin-top: 7px;
  font-weight: 600;
  color: #626469;
}

.estimate-container {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.sell-out-input-header {
  margin: 20px 0px 0px 0px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  color: #1E1E1E;
  text-transform: uppercase;
}

.btn-add {
  width: 100px;
  height: 40px;
  margin-top: -5px;
}

.btn-upload {
  width: 100px;
  height: 40px;
  margin-top: -1px;
}

.btn-download {
  width: 200px;
  height: 40px;
  margin-top: -1px;
}
