.partnerRowCreate{
    max-width: 672px;
}

/* .field-Prop{
    width: 292px;
} */

.partnerRowUpdate {
    max-width: 1342px;
}

.form-partner-card {
    width: 1677px;
    margin-left: 14px;
}

.form-higherlevelusr-section{
    padding: 10px;
}