.create-usr-warning{
    color: #E47F00;
}

.username-header {
    margin: 0px 20px 0px 20px;
}

.create-usr-text{
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    /* color:hsl(0, 0%, 80%); */
    border-color: hsl(0, 0%, 80%);
    box-sizing: border-box;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    width: 348px;
    height: 36px;
}