.btn-invest {
  width: 220px;
  height: 40px;
}

.checkbox-message {
  color: #E47F00;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.btn-reject {
  height: 40px;
  width: 100px;
}

.ag-theme-alpine .ag-icon,
.ag-theme-alpine .ag-checkbox-input-wrapper,
.ag-theme-alpine .ag-radio-button-input-wrapper {
  font-weight: bold;
}