.btn-invest {
  width: 220px;
  height: 40px;
}

.btn-collapseall{
  margin-top: 26px;
}

.checkbox-message {
  color: #E47F00;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.btn-reject {
  height: 40px;
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.show-data {
  width: 70px;
  height: 32px;
  margin-top: 0px;
}

.hide-data {
  width: 70px;
  height: 30px;
  margin-top: 0px;
}

.btn-historical {
  width: 140px;
  height: 32px;
  margin-top: 0px;
}

.hide-header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  text-align: center;
  color: #E47F00;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.hide-header:hover {
  border: 2px solid var(--unnamed-color-e47f00);
  background: #E47F00 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  color: #FFFFFF;
}

.hide-header:active:focus {
  border: 2px solid var(--unnamed-color-e47f00);
  background: #E47F00 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  color: #FFFFFF;
}

.ag-theme-alpine .ag-icon,
.ag-theme-alpine .ag-checkbox-input-wrapper,
.ag-theme-alpine .ag-radio-button-input-wrapper {
  font-weight: bold;
}

.ag-theme-alpine {
  --ag-selected-row-background-color: white !important;
  --ag-odd-row-background-color: none !important;
}

.ag-theme-alpine:focus {
  --ag-selected-row-background-color: white !important;
}

.ag-theme-alpine,
.ag-theme-alpine-dark {
  --ag-alpine-active-color: green !important;
}