.calendar-label{
    color: #626469
}

.prev-window-panel{
    display: flex;
    align-items: right;
    justify-content: right;
    margin-right: 50px;
}

.prev-window-table{
    padding: 30px;
    display: flex;
}