.calendar-label{
    color: #626469
}

.prev-window-panel{
    display: flex;
    align-items: right;
    justify-content: right;
}

.prev-window-table{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-calendar-card {
    width: 1666px;
    margin-left: 14px;
}