
.sell-out-partner-header {
    font-weight: 600;
    font-size: 20px;
    margin-left: 0px;
    letter-spacing: 0px;
    color: #1E1E1E;
    text-transform: uppercase;
  }

.partner-container {
    display: flex;
    justify-content: end;
    margin: 5px 0px 10px 0px;
}
.partner-header {
    height: 50px;
}