.sell-out-header {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  color: #1E1E1E;
  text-transform: uppercase;
}

.currency-mode {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 40px;
}

.quarter-months {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 5px;
  text-transform: uppercase;
}

.historical-header {
  margin-right: 0px;
  margin-top: 16px;
  font-size: 14px;
  color: #FFFFFF;
}
.edited-header {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 40px;
  color: #1E1E1E;
}

.historical-data {
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historical-data:hover {
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
}

.historical-data:focus:active {
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
}

.cancel-header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  text-align: center;
  color: #E47F00;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.cancel-header:hover {
  border: 2px solid var(--unnamed-color-e47f00);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  color: #E47F00;
}

.cancel-header:active:focus {
  border: 2px solid var(--unnamed-color-e47f00);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #E47F00;
  border-radius: 8px;
  color: #E47F00;
}

.edit-header {
  border: 2px solid var(--unnamed-color-009530);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
  color: #009530;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.edit-header:hover {
  border: 2px solid var(--unnamed-color-009530);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
  color: #009530;
}

.edit-header:active:focus {
  border: 2px solid var(--unnamed-color-009530);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #009530;
  border-radius: 8px;
  color: #009530;
}

.save-header {
  border: 2px solid var(--unnamed-color-ebf7fd);
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #EBF7FD;
  border-radius: 8px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.save-header:hover {
  border: 2px solid var(--unnamed-color-ebf7fd);
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #EBF7FD;
  border-radius: 8px;
  color: #FFFFFF;
}

.save-header:active:focus {
  border: 2px solid var(--unnamed-color-ebf7fd);
  background: #009530 0% 0% no-repeat padding-box;
  border: 2px solid #EBF7FD;
  border-radius: 8px;
  color: #FFFFFF;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.btn-group {
  height: 30px !important;
}

.btn-group>.btn-check:checked+.btn {
  display: flex !important;
  align-items: center !important;
}

.btn-group>.btn {
  display: flex !important;
  align-items: center !important;
}

.ag-header {
  background-color: #ebf7fd !important;
}

.ag-theme-alpine .ag-header-cell-menu-button:hover {
  color: black !important;
}

.ag-icon-menu::before {
  cursor: pointer;
}

.ag-theme-alpine {
  /* --ag-selected-row-background-color: #CCFFFF !important; */
  --ag-odd-row-background-color: #f3f3f3 !important;
}