.sell-out-userlist-header {
    font-weight: 500;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #1E1E1E;
    text-transform: uppercase;
}

.sell-out-userlist-header {
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
    letter-spacing: 0px;
    color: #1E1E1E;
    text-transform: uppercase;
}

.userlist-container {
    display: flex;
    justify-content: end;
    margin: 5px 0px 7px 0px;
}

.userlist-header {
    height: 50px;
    margin-left: 15px;
}

.userlist-request-header {
    display: flex;
    justify-content: end;
}

.partner-request-header {
    display: flex;
    justify-content: end;
}