.create-partner-wrapper {
  border: 1px solid rgb(150, 149, 149);
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
}

.create-partner-header {
  margin-top: 5px;
  padding-left: 10px;
}

.btn-cancel {
  color: grey;
  background-color: rgb(248, 250, 252);
}

.btn-create-partner {
  float: right;
}

.btn {
  margin: 10px;
  width: 100px;
  height: 40px;
}
